OpenDentBusiness/Web References/WebServiceMainHQ/WebServiceMainHQ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.opendental.com/OpenDentalWebServiceHQ/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.opendental.com/OpenDentalWebServiceHQ/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.opendental.com/OpenDentalWebServiceHQ/">
      <s:element name="PerformRefreshCache">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformRefreshCacheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerformRefreshCacheResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateWebAppUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateWebAppUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateWebAppUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateWebAppUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateWebAppUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateWebAppUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildWebLanderUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eService" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildWebLanderUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildWebLanderUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildWebSchedRecallURLs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recallNums" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildWebSchedRecallURLsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildWebSchedRecallURLsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildWebSchedNewPatApptURLs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clinicNums" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildWebSchedNewPatApptURLsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildWebSchedNewPatApptURLsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildFeaturePortalUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eService" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildFeaturePortalUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildFeaturePortalUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildConfirmationRequestUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="shortGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildConfirmationRequestUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildConfirmationRequestUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildOAuthUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildOAuthUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildOAuthUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDropboxAuthorizationUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrationKeyNum" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDropboxAuthorizationUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDropboxAuthorizationUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDropboxAccessToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDropboxAccessTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDropboxAccessTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmationRequestSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmationRequestSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmationRequestSendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmationRequestSignAgreement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmationRequestSignAgreementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmationRequestSignAgreementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmationRequestCancelService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmationRequestCancelServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmationRequestCancelServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsSendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSignAgreement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsSignAgreementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsSignAgreementResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsCancelService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SmsCancelServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SmsCancelServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestListenerProxyPrefs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestListenerProxyPrefsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestListenerProxyPrefsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEConnectorType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEConnectorTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEConnectorTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEConnectorType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isListening" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEConnectorTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetEConnectorTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eService" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateEServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateEServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeaturesForCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeaturesForCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeaturesForCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeaturesForEService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrationKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eService" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeaturesForEServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeaturesForEServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableAdditionalFeatures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnableAdditionalFeaturesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnableAdditionalFeaturesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFHIRAPIKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckFHIRAPIKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckFHIRAPIKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFHIRAPIKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFHIRAPIKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateFHIRAPIKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFHIRAPIKeysForOffice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFHIRAPIKeysForOfficeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFHIRAPIKeysForOfficeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFHIRAPIKeys">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="officeData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFHIRAPIKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFHIRAPIKeysResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformRefreshCacheSoapIn">
    <wsdl:part name="parameters" element="tns:PerformRefreshCache" />
  </wsdl:message>
  <wsdl:message name="PerformRefreshCacheSoapOut">
    <wsdl:part name="parameters" element="tns:PerformRefreshCacheResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateWebAppUrl" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateWebAppUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateWebAppUrl" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateWebAppUrlResponse" />
  </wsdl:message>
  <wsdl:message name="BuildWebLanderUrlSoapIn">
    <wsdl:part name="parameters" element="tns:BuildWebLanderUrl" />
  </wsdl:message>
  <wsdl:message name="BuildWebLanderUrlSoapOut">
    <wsdl:part name="parameters" element="tns:BuildWebLanderUrlResponse" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedRecallURLsSoapIn">
    <wsdl:part name="parameters" element="tns:BuildWebSchedRecallURLs" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedRecallURLsSoapOut">
    <wsdl:part name="parameters" element="tns:BuildWebSchedRecallURLsResponse" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedNewPatApptURLsSoapIn">
    <wsdl:part name="parameters" element="tns:BuildWebSchedNewPatApptURLs" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedNewPatApptURLsSoapOut">
    <wsdl:part name="parameters" element="tns:BuildWebSchedNewPatApptURLsResponse" />
  </wsdl:message>
  <wsdl:message name="BuildFeaturePortalUrlSoapIn">
    <wsdl:part name="parameters" element="tns:BuildFeaturePortalUrl" />
  </wsdl:message>
  <wsdl:message name="BuildFeaturePortalUrlSoapOut">
    <wsdl:part name="parameters" element="tns:BuildFeaturePortalUrlResponse" />
  </wsdl:message>
  <wsdl:message name="BuildConfirmationRequestUrlSoapIn">
    <wsdl:part name="parameters" element="tns:BuildConfirmationRequestUrl" />
  </wsdl:message>
  <wsdl:message name="BuildConfirmationRequestUrlSoapOut">
    <wsdl:part name="parameters" element="tns:BuildConfirmationRequestUrlResponse" />
  </wsdl:message>
  <wsdl:message name="BuildOAuthUrlSoapIn">
    <wsdl:part name="parameters" element="tns:BuildOAuthUrl" />
  </wsdl:message>
  <wsdl:message name="BuildOAuthUrlSoapOut">
    <wsdl:part name="parameters" element="tns:BuildOAuthUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAuthorizationUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetDropboxAuthorizationUrl" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAuthorizationUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetDropboxAuthorizationUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAccessTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetDropboxAccessToken" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAccessTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetDropboxAccessTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateVersion" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSendSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmationRequestSend" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSendSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmationRequestSendResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSignAgreementSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmationRequestSignAgreement" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSignAgreementSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmationRequestSignAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestCancelServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmationRequestCancelService" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestCancelServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmationRequestCancelServiceResponse" />
  </wsdl:message>
  <wsdl:message name="SmsSendSoapIn">
    <wsdl:part name="parameters" element="tns:SmsSend" />
  </wsdl:message>
  <wsdl:message name="SmsSendSoapOut">
    <wsdl:part name="parameters" element="tns:SmsSendResponse" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementSoapIn">
    <wsdl:part name="parameters" element="tns:SmsSignAgreement" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementSoapOut">
    <wsdl:part name="parameters" element="tns:SmsSignAgreementResponse" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceSoapIn">
    <wsdl:part name="parameters" element="tns:SmsCancelService" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceSoapOut">
    <wsdl:part name="parameters" element="tns:SmsCancelServiceResponse" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsSoapIn">
    <wsdl:part name="parameters" element="tns:RequestListenerProxyPrefs" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsSoapOut">
    <wsdl:part name="parameters" element="tns:RequestListenerProxyPrefsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEConnectorType" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEConnectorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SetEConnectorType" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SetEConnectorTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateEServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateEService" />
  </wsdl:message>
  <wsdl:message name="ValidateEServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateEServiceResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeaturesForCustomer" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeaturesForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForEServiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeaturesForEService" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForEServiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeaturesForEServiceResponse" />
  </wsdl:message>
  <wsdl:message name="EnableAdditionalFeaturesSoapIn">
    <wsdl:part name="parameters" element="tns:EnableAdditionalFeatures" />
  </wsdl:message>
  <wsdl:message name="EnableAdditionalFeaturesSoapOut">
    <wsdl:part name="parameters" element="tns:EnableAdditionalFeaturesResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFHIRAPIKeySoapIn">
    <wsdl:part name="parameters" element="tns:CheckFHIRAPIKey" />
  </wsdl:message>
  <wsdl:message name="CheckFHIRAPIKeySoapOut">
    <wsdl:part name="parameters" element="tns:CheckFHIRAPIKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateFHIRAPIKeySoapIn">
    <wsdl:part name="parameters" element="tns:GenerateFHIRAPIKey" />
  </wsdl:message>
  <wsdl:message name="GenerateFHIRAPIKeySoapOut">
    <wsdl:part name="parameters" element="tns:GenerateFHIRAPIKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetFHIRAPIKeysForOfficeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFHIRAPIKeysForOffice" />
  </wsdl:message>
  <wsdl:message name="GetFHIRAPIKeysForOfficeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFHIRAPIKeysForOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFHIRAPIKeysSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFHIRAPIKeys" />
  </wsdl:message>
  <wsdl:message name="UpdateFHIRAPIKeysSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFHIRAPIKeysResponse" />
  </wsdl:message>
  <wsdl:message name="PerformRefreshCacheHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PerformRefreshCacheHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateWebAppUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateWebAppUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuildWebLanderUrlHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="eService" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuildWebLanderUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedRecallURLsHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="recallNums" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedRecallURLsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedNewPatApptURLsHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="clinicNums" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuildWebSchedNewPatApptURLsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuildFeaturePortalUrlHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="eService" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuildFeaturePortalUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuildConfirmationRequestUrlHttpPostIn">
    <wsdl:part name="shortGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuildConfirmationRequestUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BuildOAuthUrlHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="appName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BuildOAuthUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAuthorizationUrlHttpPostIn">
    <wsdl:part name="registrationKeyNum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAuthorizationUrlHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAccessTokenHttpPostIn">
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDropboxAccessTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSendHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSendHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSignAgreementHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestSignAgreementHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestCancelServiceHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ConfirmationRequestCancelServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SmsSendHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SmsSendHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SmsSignAgreementHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SmsCancelServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestListenerProxyPrefsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEConnectorTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
    <wsdl:part name="isListening" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetEConnectorTypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEServiceHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="eService" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateEServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForCustomerHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForCustomerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForEServiceHttpPostIn">
    <wsdl:part name="registrationKey" type="s:string" />
    <wsdl:part name="eService" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFeaturesForEServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="EnableAdditionalFeaturesHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="EnableAdditionalFeaturesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckFHIRAPIKeyHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckFHIRAPIKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateFHIRAPIKeyHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenerateFHIRAPIKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFHIRAPIKeysForOfficeHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFHIRAPIKeysForOfficeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFHIRAPIKeysHttpPostIn">
    <wsdl:part name="officeData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateFHIRAPIKeysHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMainHQSoap">
    <wsdl:operation name="PerformRefreshCache">
      <wsdl:input message="tns:PerformRefreshCacheSoapIn" />
      <wsdl:output message="tns:PerformRefreshCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <wsdl:input message="tns:GenerateWebAppUrlSoapIn" />
      <wsdl:output message="tns:GenerateWebAppUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <wsdl:input message="tns:ValidateWebAppUrlSoapIn" />
      <wsdl:output message="tns:ValidateWebAppUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildWebLanderUrl">
      <wsdl:input message="tns:BuildWebLanderUrlSoapIn" />
      <wsdl:output message="tns:BuildWebLanderUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedRecallURLs">
      <wsdl:input message="tns:BuildWebSchedRecallURLsSoapIn" />
      <wsdl:output message="tns:BuildWebSchedRecallURLsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedNewPatApptURLs">
      <wsdl:input message="tns:BuildWebSchedNewPatApptURLsSoapIn" />
      <wsdl:output message="tns:BuildWebSchedNewPatApptURLsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildFeaturePortalUrl">
      <wsdl:input message="tns:BuildFeaturePortalUrlSoapIn" />
      <wsdl:output message="tns:BuildFeaturePortalUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildConfirmationRequestUrl">
      <wsdl:input message="tns:BuildConfirmationRequestUrlSoapIn" />
      <wsdl:output message="tns:BuildConfirmationRequestUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildOAuthUrl">
      <wsdl:input message="tns:BuildOAuthUrlSoapIn" />
      <wsdl:output message="tns:BuildOAuthUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAuthorizationUrl">
      <wsdl:input message="tns:GetDropboxAuthorizationUrlSoapIn" />
      <wsdl:output message="tns:GetDropboxAuthorizationUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAccessToken">
      <wsdl:input message="tns:GetDropboxAccessTokenSoapIn" />
      <wsdl:output message="tns:GetDropboxAccessTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <wsdl:input message="tns:ValidateVersionSoapIn" />
      <wsdl:output message="tns:ValidateVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSend">
      <wsdl:input message="tns:ConfirmationRequestSendSoapIn" />
      <wsdl:output message="tns:ConfirmationRequestSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSignAgreement">
      <wsdl:input message="tns:ConfirmationRequestSignAgreementSoapIn" />
      <wsdl:output message="tns:ConfirmationRequestSignAgreementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestCancelService">
      <wsdl:input message="tns:ConfirmationRequestCancelServiceSoapIn" />
      <wsdl:output message="tns:ConfirmationRequestCancelServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <wsdl:input message="tns:SmsSendSoapIn" />
      <wsdl:output message="tns:SmsSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <wsdl:input message="tns:SmsSignAgreementSoapIn" />
      <wsdl:output message="tns:SmsSignAgreementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <wsdl:input message="tns:SmsCancelServiceSoapIn" />
      <wsdl:output message="tns:SmsCancelServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <wsdl:input message="tns:RequestListenerProxyPrefsSoapIn" />
      <wsdl:output message="tns:RequestListenerProxyPrefsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <wsdl:input message="tns:GetEConnectorTypeSoapIn" />
      <wsdl:output message="tns:GetEConnectorTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <wsdl:input message="tns:SetEConnectorTypeSoapIn" />
      <wsdl:output message="tns:SetEConnectorTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEService">
      <wsdl:input message="tns:ValidateEServiceSoapIn" />
      <wsdl:output message="tns:ValidateEServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForCustomer">
      <wsdl:input message="tns:GetFeaturesForCustomerSoapIn" />
      <wsdl:output message="tns:GetFeaturesForCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForEService">
      <wsdl:input message="tns:GetFeaturesForEServiceSoapIn" />
      <wsdl:output message="tns:GetFeaturesForEServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableAdditionalFeatures">
      <wsdl:input message="tns:EnableAdditionalFeaturesSoapIn" />
      <wsdl:output message="tns:EnableAdditionalFeaturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFHIRAPIKey">
      <wsdl:input message="tns:CheckFHIRAPIKeySoapIn" />
      <wsdl:output message="tns:CheckFHIRAPIKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFHIRAPIKey">
      <wsdl:input message="tns:GenerateFHIRAPIKeySoapIn" />
      <wsdl:output message="tns:GenerateFHIRAPIKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFHIRAPIKeysForOffice">
      <wsdl:input message="tns:GetFHIRAPIKeysForOfficeSoapIn" />
      <wsdl:output message="tns:GetFHIRAPIKeysForOfficeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFHIRAPIKeys">
      <wsdl:input message="tns:UpdateFHIRAPIKeysSoapIn" />
      <wsdl:output message="tns:UpdateFHIRAPIKeysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceMainHQHttpPost">
    <wsdl:operation name="PerformRefreshCache">
      <wsdl:input message="tns:PerformRefreshCacheHttpPostIn" />
      <wsdl:output message="tns:PerformRefreshCacheHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <wsdl:input message="tns:GenerateWebAppUrlHttpPostIn" />
      <wsdl:output message="tns:GenerateWebAppUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <wsdl:input message="tns:ValidateWebAppUrlHttpPostIn" />
      <wsdl:output message="tns:ValidateWebAppUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildWebLanderUrl">
      <wsdl:input message="tns:BuildWebLanderUrlHttpPostIn" />
      <wsdl:output message="tns:BuildWebLanderUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedRecallURLs">
      <wsdl:input message="tns:BuildWebSchedRecallURLsHttpPostIn" />
      <wsdl:output message="tns:BuildWebSchedRecallURLsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedNewPatApptURLs">
      <wsdl:input message="tns:BuildWebSchedNewPatApptURLsHttpPostIn" />
      <wsdl:output message="tns:BuildWebSchedNewPatApptURLsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildFeaturePortalUrl">
      <wsdl:input message="tns:BuildFeaturePortalUrlHttpPostIn" />
      <wsdl:output message="tns:BuildFeaturePortalUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildConfirmationRequestUrl">
      <wsdl:input message="tns:BuildConfirmationRequestUrlHttpPostIn" />
      <wsdl:output message="tns:BuildConfirmationRequestUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildOAuthUrl">
      <wsdl:input message="tns:BuildOAuthUrlHttpPostIn" />
      <wsdl:output message="tns:BuildOAuthUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAuthorizationUrl">
      <wsdl:input message="tns:GetDropboxAuthorizationUrlHttpPostIn" />
      <wsdl:output message="tns:GetDropboxAuthorizationUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAccessToken">
      <wsdl:input message="tns:GetDropboxAccessTokenHttpPostIn" />
      <wsdl:output message="tns:GetDropboxAccessTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <wsdl:input message="tns:ValidateVersionHttpPostIn" />
      <wsdl:output message="tns:ValidateVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSend">
      <wsdl:input message="tns:ConfirmationRequestSendHttpPostIn" />
      <wsdl:output message="tns:ConfirmationRequestSendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSignAgreement">
      <wsdl:input message="tns:ConfirmationRequestSignAgreementHttpPostIn" />
      <wsdl:output message="tns:ConfirmationRequestSignAgreementHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestCancelService">
      <wsdl:input message="tns:ConfirmationRequestCancelServiceHttpPostIn" />
      <wsdl:output message="tns:ConfirmationRequestCancelServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <wsdl:input message="tns:SmsSendHttpPostIn" />
      <wsdl:output message="tns:SmsSendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <wsdl:input message="tns:SmsSignAgreementHttpPostIn" />
      <wsdl:output message="tns:SmsSignAgreementHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <wsdl:input message="tns:SmsCancelServiceHttpPostIn" />
      <wsdl:output message="tns:SmsCancelServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <wsdl:input message="tns:RequestListenerProxyPrefsHttpPostIn" />
      <wsdl:output message="tns:RequestListenerProxyPrefsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <wsdl:input message="tns:GetEConnectorTypeHttpPostIn" />
      <wsdl:output message="tns:GetEConnectorTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <wsdl:input message="tns:SetEConnectorTypeHttpPostIn" />
      <wsdl:output message="tns:SetEConnectorTypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateEService">
      <wsdl:input message="tns:ValidateEServiceHttpPostIn" />
      <wsdl:output message="tns:ValidateEServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForCustomer">
      <wsdl:input message="tns:GetFeaturesForCustomerHttpPostIn" />
      <wsdl:output message="tns:GetFeaturesForCustomerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForEService">
      <wsdl:input message="tns:GetFeaturesForEServiceHttpPostIn" />
      <wsdl:output message="tns:GetFeaturesForEServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="EnableAdditionalFeatures">
      <wsdl:input message="tns:EnableAdditionalFeaturesHttpPostIn" />
      <wsdl:output message="tns:EnableAdditionalFeaturesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFHIRAPIKey">
      <wsdl:input message="tns:CheckFHIRAPIKeyHttpPostIn" />
      <wsdl:output message="tns:CheckFHIRAPIKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFHIRAPIKey">
      <wsdl:input message="tns:GenerateFHIRAPIKeyHttpPostIn" />
      <wsdl:output message="tns:GenerateFHIRAPIKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFHIRAPIKeysForOffice">
      <wsdl:input message="tns:GetFHIRAPIKeysForOfficeHttpPostIn" />
      <wsdl:output message="tns:GetFHIRAPIKeysForOfficeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFHIRAPIKeys">
      <wsdl:input message="tns:UpdateFHIRAPIKeysHttpPostIn" />
      <wsdl:output message="tns:UpdateFHIRAPIKeysHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMainHQSoap" type="tns:WebServiceMainHQSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformRefreshCache">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/PerformRefreshCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GenerateWebAppUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateWebAppUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebLanderUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildWebLanderUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedRecallURLs">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildWebSchedRecallURLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedNewPatApptURLs">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildWebSchedNewPatApptURLs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildFeaturePortalUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildFeaturePortalUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildConfirmationRequestUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildConfirmationRequestUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildOAuthUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildOAuthUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAuthorizationUrl">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetDropboxAuthorizationUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAccessToken">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetDropboxAccessToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSend">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ConfirmationRequestSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSignAgreement">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ConfirmationRequestSignAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestCancelService">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ConfirmationRequestCancelService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSignAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsCancelService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/RequestListenerProxyPrefs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetEConnectorType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SetEConnectorType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEService">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateEService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForCustomer">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetFeaturesForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForEService">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetFeaturesForEService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableAdditionalFeatures">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/EnableAdditionalFeatures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFHIRAPIKey">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/CheckFHIRAPIKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFHIRAPIKey">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GenerateFHIRAPIKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFHIRAPIKeysForOffice">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetFHIRAPIKeysForOffice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFHIRAPIKeys">
      <soap:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/UpdateFHIRAPIKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMainHQSoap12" type="tns:WebServiceMainHQSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformRefreshCache">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/PerformRefreshCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GenerateWebAppUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateWebAppUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebLanderUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildWebLanderUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedRecallURLs">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildWebSchedRecallURLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedNewPatApptURLs">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildWebSchedNewPatApptURLs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildFeaturePortalUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildFeaturePortalUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildConfirmationRequestUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildConfirmationRequestUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildOAuthUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/BuildOAuthUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAuthorizationUrl">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetDropboxAuthorizationUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAccessToken">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetDropboxAccessToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSend">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ConfirmationRequestSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSignAgreement">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ConfirmationRequestSignAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestCancelService">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ConfirmationRequestCancelService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsSignAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SmsCancelService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/RequestListenerProxyPrefs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetEConnectorType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/SetEConnectorType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEService">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/ValidateEService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForCustomer">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetFeaturesForCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForEService">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetFeaturesForEService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableAdditionalFeatures">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/EnableAdditionalFeatures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFHIRAPIKey">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/CheckFHIRAPIKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFHIRAPIKey">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GenerateFHIRAPIKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFHIRAPIKeysForOffice">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/GetFHIRAPIKeysForOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFHIRAPIKeys">
      <soap12:operation soapAction="https://www.opendental.com/OpenDentalWebServiceHQ/UpdateFHIRAPIKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMainHQHttpPost" type="tns:WebServiceMainHQHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PerformRefreshCache">
      <http:operation location="/PerformRefreshCache" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWebAppUrl">
      <http:operation location="/GenerateWebAppUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateWebAppUrl">
      <http:operation location="/ValidateWebAppUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebLanderUrl">
      <http:operation location="/BuildWebLanderUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedRecallURLs">
      <http:operation location="/BuildWebSchedRecallURLs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildWebSchedNewPatApptURLs">
      <http:operation location="/BuildWebSchedNewPatApptURLs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildFeaturePortalUrl">
      <http:operation location="/BuildFeaturePortalUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildConfirmationRequestUrl">
      <http:operation location="/BuildConfirmationRequestUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildOAuthUrl">
      <http:operation location="/BuildOAuthUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAuthorizationUrl">
      <http:operation location="/GetDropboxAuthorizationUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropboxAccessToken">
      <http:operation location="/GetDropboxAccessToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVersion">
      <http:operation location="/ValidateVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSend">
      <http:operation location="/ConfirmationRequestSend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestSignAgreement">
      <http:operation location="/ConfirmationRequestSignAgreement" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationRequestCancelService">
      <http:operation location="/ConfirmationRequestCancelService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSend">
      <http:operation location="/SmsSend" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsSignAgreement">
      <http:operation location="/SmsSignAgreement" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsCancelService">
      <http:operation location="/SmsCancelService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestListenerProxyPrefs">
      <http:operation location="/RequestListenerProxyPrefs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEConnectorType">
      <http:operation location="/GetEConnectorType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEConnectorType">
      <http:operation location="/SetEConnectorType" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateEService">
      <http:operation location="/ValidateEService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForCustomer">
      <http:operation location="/GetFeaturesForCustomer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeaturesForEService">
      <http:operation location="/GetFeaturesForEService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableAdditionalFeatures">
      <http:operation location="/EnableAdditionalFeatures" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFHIRAPIKey">
      <http:operation location="/CheckFHIRAPIKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFHIRAPIKey">
      <http:operation location="/GenerateFHIRAPIKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFHIRAPIKeysForOffice">
      <http:operation location="/GetFHIRAPIKeysForOffice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFHIRAPIKeys">
      <http:operation location="/UpdateFHIRAPIKeys" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMainHQ">
    <wsdl:port name="WebServiceMainHQSoap" binding="tns:WebServiceMainHQSoap">
      <soap:address location="http://localhost/OpenDentalWebServiceHQ/webservicemainhq.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMainHQSoap12" binding="tns:WebServiceMainHQSoap12">
      <soap12:address location="http://localhost/OpenDentalWebServiceHQ/webservicemainhq.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMainHQHttpPost" binding="tns:WebServiceMainHQHttpPost">
      <http:address location="http://localhost/OpenDentalWebServiceHQ/webservicemainhq.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>